@import './partials/header.css';
@import './partials/sidebar.css';
@import './partials/main.css';
@import './partials/task.css';

:root {
  --main: #f5ba13;
  --black: #333;
  --lightGray: #eee;
  --white: #fff;
  --blue: #4361ee;
  --yellow: #e8930b;
  --green: #6eb200;
  --red: #af0000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
}
body {
  background: var(--lightGray);
}
main {
  display: flex;
  align-items: center;
}

i {
  font-size: 28px;
  vertical-align: middle;
  opacity: .85;
  cursor: pointer;
  transition: opacity 150ms ease-in-out;
}
i:hover {
  opacity: 1;
}
/* GENRENIC CLASSES */
.hide {
  display: none;
}
.blue {
  color: var(--blue);
}
.yellow {
  color: var(--yellow);
}
.green {
  color: var(--green);
}
.red {
  color: var(--red);
}


/* MEDIA QUERY */
@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
    width: 100%;
  }
}